// padding
.elCollapsePad {
    &-icon {
        display: grid;
        width: 72px;
        height: 72px;
        background-color: #f7f7f9;
        grid-template-columns: 1fr 1fr 1fr; // 列宽这样是分成3份
        grid-template-rows: 1fr 1fr 1fr; // 行宽这样是分成3份

        div {
            width: 24px;
            height: 24px;
            // background-color: #cfcbcb;
            // border: 1px solid #2468f2;
        }

        .common {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                width: 16px;
                height: 16px;
                position: absolute;
            }
        }

        .top {
            border-top: 2px solid #5c5f66;
            border-bottom: 2px solid #d4d6d9;
            border-left: 2px solid #d4d6d9;
            border-right: 2px solid #d4d6d9;
        }

        .bottom {
            border-top: 2px solid #d4d6d9;
            border-bottom: 2px solid #5c5f66;
            border-left: 2px solid #d4d6d9;
            border-right: 2px solid #d4d6d9;
        }

        .left {
            border-top: 2px solid #d4d6d9;
            border-bottom: 2px solid #d4d6d9;
            border-left: 2px solid #5c5f66;
            border-right: 2px solid #d4d6d9;
        }

        .right {
            border-top: 2px solid #d4d6d9;
            border-bottom: 2px solid #d4d6d9;
            border-left: 2px solid #d4d6d9;
            border-right: 2px solid #5c5f66;
        }

        .middle {
            border: 2px solid #5c5f66;
        }

        .active-top {
            border-top: 2px solid #2468f2;
        }

        .active-bottom {
            border-bottom: 2px solid #2468f2;
        }

        .active-left {
            border-left: 2px solid #2468f2;
        }

        .active-right {
            border-right: 2px solid #2468f2;
        }

        .active-middle {
            border: 2px solid #2468f2;
        }
    }

    &-setting {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-left: 16px;

        .lineAndColor {
            display: flex;

            .color {
                width: 32px;
                // margin-left:10px;
                background-color: #2468f2;
                height: 32px;
                box-sizing: border-box;
            }
        }
    }
}

.appearance {
    .lineAndColor {
        margin-top: 8px;

        .el-input__wrapper {
            width: 110px;
            margin-right: 10px;
        }
    }
}