.elCollapseItem.title {
    margin-bottom: 0px;
}

// 输入框的样式
.elCollapseInput {

    &-name {
        width: 30%;
    }

    .el-input {
        width: 70%;

        &__wrapper.is-focus {
            box-shadow: 0 0 0 1px #2468f2 inset !important;
        }
    }
}

// 选择器
.property {
    .elCollapseSelect {
        &-select {}

        .el-select-dropdown__wrap {
            height: 110px !important;
            width: 180px !important;
            overflow-y: scroll !important;
            overflow-x: hidden;
        }
    }
}




.el-scrollbar__view {
    width: 180px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; // 列宽这样是分成4份

    .el-select-dropdown__item {
        padding: 0 28px 0 15px;
        width: 20px !important;
    }

    // 解除一上来就被选中显示图标颜色的情况
    .selected {
        color: #5c5f66 !important;
    }

    .active {
        color: #2468f2 !important;
    }
}