.elCollapseItem.title {
    margin-bottom: 0px;
}

// 输入框的样式
.elCollapseInput {

    &-name {
        width: 30%;
    }

    .el-input {
        width: 70%;

        &__wrapper.is-focus {
            box-shadow: 0 0 0 1px #2468f2 inset !important;
        }
    }
}

// 选择器

.elCollapseSelect{
    &-select{
        
    }

    .el-select-dropdown__wrap {
        height: 110px !important;
        width: 180px !important;
        overflow-y: scroll !important;
        overflow-x: hidden;
    }
}



.el-scrollbar__view {
    width: 180px !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; // 列宽这样是分成4份

    .el-select-dropdown__item {
        padding: 0 28px 0 15px;
        width: 20px !important;
    }
    // 解除一上来就被选中显示图标颜色的情况
    .selected {
        color: #5c5f66 !important;
    }

    .active {
        color: #2468f2 !important;
    }
}

// padding
.elCollapsePad {
    &-icon {
        display: grid;
        width: 72px;
        height: 72px;
        background-color: #f7f7f9;
        grid-template-columns: 1fr 1fr 1fr; // 列宽这样是分成3份
        grid-template-rows: 1fr 1fr 1fr; // 行宽这样是分成3份

        div {
            width: 24px;
            height: 24px;
            // background-color: #cfcbcb;
            // border: 1px solid #2468f2;
        }

        .common {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                width: 16px;
                height: 16px;
                position: absolute;
            }
        }

        .top {
            border-top: 2px solid #5c5f66;
            border-bottom: 2px solid #d4d6d9;
            border-left: 2px solid #d4d6d9;
            border-right: 2px solid #d4d6d9;
        }

        .bottom {
            border-top: 2px solid #d4d6d9;
            border-bottom: 2px solid #5c5f66;
            border-left: 2px solid #d4d6d9;
            border-right: 2px solid #d4d6d9;
        }

        .left {
            border-top: 2px solid #d4d6d9;
            border-bottom: 2px solid #d4d6d9;
            border-left: 2px solid #5c5f66;
            border-right: 2px solid #d4d6d9;
        }

        .right {
            border-top: 2px solid #d4d6d9;
            border-bottom: 2px solid #d4d6d9;
            border-left: 2px solid #d4d6d9;
            border-right: 2px solid #5c5f66;
        }

        .middle {
            border: 2px solid #5c5f66;
        }

        .active-top {
            border-top: 2px solid #2468f2;
        }

        .active-bottom {
            border-bottom: 2px solid #2468f2;
        }

        .active-left {
            border-left: 2px solid #2468f2;
        }

        .active-right {
            border-right: 2px solid #2468f2;
        }

        .active-middle {
            border: 2px solid #2468f2;
        }
    }
}