.elCollapseItem.title {
  margin-bottom: 0px;
}

// 输入框的样式
.elCollapseInput {
  &-name {
    width: 30%;
  }

  .el-input {
    width: 70%;

    &__wrapper.is-focus {
      box-shadow: 0 0 0 1px #2468f2 inset !important;
    }
  }
}

// 选择器
.property {
  .elCollapseSelect {
    // &-select {}

    .el-select-dropdown__wrap {
      height: 110px !important;
      width: 180px !important;
      overflow-y: scroll !important;
      overflow-x: hidden;
    }
  }
}

// .el-scrollbar__view {
//     width: 180px !important;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr; // 列宽这样是分成4份

//     .el-select-dropdown__item {
//         padding: 0 28px 0 15px;
//         width: 20px !important;
//     }

//     // 解除一上来就被选中显示图标颜色的情况
//     .selected {
//         color: #5c5f66 !important;
//     }

//     .active {
//         color: #2468f2 !important;
//     }
// }

//默认设置
.defaultTitle {
  .el-input {
    width: 170px;
  }
}

.container {
  &-settings,
  &-positioningMode {
    .el-select {
      width: 160px;
    }
  }

  &-changeBtn {
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: #fff;
      border: 1px solid #afaeae;
      width: 35px;
      height: 24px;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.3s;

      &:nth-child(1) {
        border-radius: 3px 0 0 3px;
        border-right: none !important;
      }

      &:nth-child(2) {
        border-radius: 0 3px 3px 0;
        border-left: none !important;
      }

      &:hover {
        border: 1px solid #2468f2;
        color: #2468f2;
      }
    }

    .active {
      background-color: #2468f2;
      color: #fff;

      &:hover {
        border: 1px solid #afaeae;
        color: #ffffff;
      }
    }
  }

  &-settings {
    &-wh {
      & > div > .el-input {
        width: 100px;

        .el-input__wrapper {
          border: 1px solid #dcdfe6;
          box-shadow: none;
          border-radius: 3px 0 0 3px;
          border-right: none;
        }
      }

      .el-select {
        width: 65px;

        .el-input__wrapper {
          border-radius: 0 3px 3px 0;
          border: 1px solid #dcdfe6;
          box-shadow: none;
        }
      }
    }

    &-scrollMode {
      .el-select {
        width: 165px;
      }
    }
  }

  &-alignment,
  &-displayType {
    p {
      margin-right: 10px;
    }

    &-item {
      width: 26px;
      height: 26px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afaeae;
      transition: all 0.2s ease-in-out;

      &:hover {
        border: 1px solid #2468f2;
        color: #2468f2;
      }
    }

    .active {
      border: 1px solid #2468f2;
      background-color: #2468f2;
      color: #fff;
    }
  }

  &-alignment {
    .alignmentContent {
      width: 100%;
      height: auto;
      border-radius: 5px;
      padding: 5px 10px;
      background-color: #ececec;

      p {
        width: 100%;
      }

      &-list {
        display: flex;
        justify-content: space-between;
        padding: 6px 0;
      }
    }

    &-item {
      // width: 40px;
      background-color: #fff;
      flex: 1;
      height: 30px;

      &:nth-child(1) {
        border-radius: 5px 0 0 5px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        border-radius: 0;
      }

      &:nth-child(4) {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  &-displayType {
    margin-top: 18px !important;

    p {
      margin-right: 10px;
    }
  }

  .flexlayout-list {
    display: flex;

    &-item {
      margin: 5px 0;
      display: flex;
      align-items: center;

      p {
        width: 100px;
      }
    }
  }
}

.base {
  &-settings {
    .el-select,
    .el-input {
      width: 160px;
    }

    &-textarea {
      &-text {
        margin-bottom: 0 !important;
      }

      margin: 4px 0 10px 0 !important;
    }
  }
}

// iconflex选择器

.flexSelectContainer {
  position: relative;

  .flexSelect {
    position: relative;
    font-size: 14px;
    display: flex;
    width: 172px;
    height: 32px;
    line-height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1.5px solid #dcdfe6;
    border-radius: 5px;
    padding: 0 10px;
    outline-style: none;

    // &:focus {
    //   border: 1.5px solid #2468f2;
    // }

    // &:active {
    //   border: 1.5px solid #2468f2;
    // }

    &:hover {
      border: 1.5px solid #b0b0b0;
    }

    .context {
      font-size: 12px;
      margin-left: 5px;
    }

    .iconContext {
      display: flex;
    }

    .clear {
      position: absolute;
      right: 5px;
    }
  }

  .flexSelectUl {
    position: absolute;
    top: 32px;
    left: 87px;
    font-size: 14px;
    width: 172px;
    display: grid;
    grid-template-columns: repeat(5, 32px);
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    border-left: 1.5px solid #dcdfe6;
    border-right: 1.5px solid #dcdfe6;
    border-bottom: 1.5px solid #dcdfe6;
    // border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    z-index: 10000;

    &-option {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    &-option:hover {
      background-color: #c3defb;
    }
  }
}
//下拉框数据
.selectData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .el-input {
    width: 150px;
  }

  &-menu {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;

    &:hover {
      color: #2468f2;
      border: 1px solid #2468f2;
    }
  }

 
}
.selectDataList-footer {
  .el-button {
    width: 200px;
  }
}

// 基础弹窗框
.basicPopup {
  position: relative;
  margin: 0 auto;
  margin-top: -10px;
  margin-left: 12px;
  width: 256px;
  height: auto;
  // background-color: #2468f2;
  box-sizing: border-box;


  &-triangle {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: -8px;
    transform: rotate(45deg);
    background: linear-gradient(135deg, #f7f7f9, #f7f7f9 50%, transparent 50%, transparent 100%);
  }

  &-boxBgc {
    background-color: #f7f7f9;
  }

  &-box {
    width: 256px;
    height: 140px;
    background-color: #f7f7f9;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-left: 10px;
      margin-top: 15px;
      color: #5c5f66;
      font-size: 12px;
      flex: 1;
      user-select: none;
    }

    .input {
      width: 236px;
      margin-left: 10px;
      flex: 4;
    }
  }

  .seizeAseat {
    width: 100%;
    height: 5px;
  }
}